body{
  margin: 0;
}

/* Section 1 */

.Header{
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  align-items: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: rgb(60, 124, 197);
  color: white;
}

.HeaderLogo{
  margin: -20px;
}

.HeaderText{
  margin: -1px;
  font-size: 14pt;
}

.Title{
  margin: -10px;
  font-size: 50pt;
}

.HeaderButton {
  background-color: rgb(60, 124, 197);
  color: white;
  font-size: 30px;
  margin: 2px;
}

/* Section 2 */

.navigationbar ul{
  background-color: rgb(68, 21, 170);
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: auto;
  padding: 20px;
}

.navigationbar a{
  color: white;
  text-decoration: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Section 3 */

.pauseMusic{
  background-color: rgb(17, 119, 110);
  display: flex;
  justify-content: center;
  padding: 10px;
}

.pauseMusic button{
  color: white;
  font-size: 50px;
  background-color: rgb(17, 119, 110);;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-radius: 100px;
  border: hidden;
  cursor: pointer;
}